{% load static %}
{% include 'formato.html' with template_padre='index' %}

{% block contenido %}
<div class="row">
  <div><p></p></div>
  <div class='col s2'>
    <img src="{% static 'img/virus.png' %}" height="200" />
  </div>  
  <div class='card-panel col s8'>
    <div class=" col s6">
      <span class="black-text center">
        <h2 style="text-align: center;">{{contagnacional}}</h2>
        <h5 style="text-align: center;">Total contagios con COVID-19</h5>
        <h5 style="text-align: center;">a nivel nacional</h5>
      </span>
    </div>
    <div class="col s6">
      <span class="black-text">
        <h2 style="text-align: center;">{{fallnacional}}</h2>
        <h5 style="text-align: center;">Total fallecidos por COVID-19</h5>
        <h5 style="text-align: center;">a nivel nacional</h5>
      </span>
    </div>     
  </div>
  <div class='col s2'>
    <img src="{% static 'img/virus1.png' %}" height="200" />
  </div>   
</div>

<div class="row">
  <div class='col s2'>
    <img src="{% static 'img/virus4.png' %}" height="200" />
  </div> 
    <div class="col s4">
      <div class="card-panel">
        <span class="black-text">
          <h2 style="text-align: center;">+{{nuevocont}}</h2>
          <h5 style="text-align: center;">Nuevos contagios por</h5>
          <h5 style="text-align: center;">COVID-19 a nivel nacional</h5>
        </span>
      </div>        
    </div>
    <div class="col s4">
      <div class="card-panel">
        <span class="black-text">
          <h2 style="text-align: center;">+{{nuevfall}}</h2>
          <h5 style="text-align: center;">Fallecidos por COVID-19</h5>
          <h5 style="text-align: center;">a nivel nacional</h5>
        </span>
      </div>        
    </div>
    <div class='col s2'>
      <img src="{% static 'img/virus2.png' %}" height="200" />
    </div> 
</div>      
    
<div class="row">
  <div class='col s2'>
    <img src="{% static 'img/virus1.png' %}" height="200" />
    <br><br><br><br><br><br>
    <img src="{% static 'img/virus.png' %}" height="200" />
  </div> 
    
  <div class='row'>
    <div class='card-panel col s8'>
      <div>
        <h2 style='text-align: center;'>Avance de Contagiados y Fallecidos</h2>
      </div>
      <div id="container">
        <script type='text/javascript'>
          Highcharts.chart('container', {
            chart: {
                type: 'area'
            },
            title: {
                text: 'COVID-19 en Chile'
            },
            subtitle: {
                text: 'Registro a Nivel Nacional'
            },
            xAxis: {
                categories: {{meses|safe}},
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cant. Personas'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b> {point.y} personas</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Contagiados',
                data: {{contagiados|safe}}
  
            }, {
                name: 'Fallecidos',
                data: {{fallecidos|safe}}
            }]
          });
        </script>
      </div>
    </div>  
    <div class='col s2'>
      <img src="{% static 'img/virus.png' %}" height="200" />
      <br><br><br><br><br><br>
      <img src="{% static 'img/virus4.png' %}" height="200" />
    </div> 
</div>     







<footer class="page-footer green lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">DataCrown</h5>
        <p class="grey-text text-lighten-4">Logo Grupo</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <div style='text-align: right'>
          <h5 class="white-text ">FONO COVID-19</h5>
          <h5><i class="Small material-icons">call</i><a href="tel: 6003607777"> 600 360 77 77</a></h5>
        </div>
        <div style='text-align: right'>
          <img src="{% static 'img/logo.jpg' %}" height="50" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 DataCrown
    </div>
  </div>
</footer>


{% endblock %}
