{% include 'formato.html' with template_padre='medidas' %}
{% load static %}

{% block contenido %}
    
<div class='row'>
  <div class='card-panel col s8 offset-s2'>
      <h3 style='text-align: center;'>Medidas sanitarias de prevención</h3>
  </div>
</div>

<div class='row'>
  <div class="col s8 offset-s2">
    <div class="card horizontal">
      <div class="card-image">
        <img src="{% static 'img/lavado.jpg' %}" height="300" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3 style='text-align: center;'>Lavado de Manos</h3>
          <p style="text-align: justify;">El lavado de manos ayuda a prevenir la propagación del COVID-19,
             pues al tocarse la cara o preparar o consumir alimentos y bebidas después de tocar una superficie o un objeto contaminado puede llevar a contraer fácilmente el virus.
             Procure lavarse las manos durante al menos 30 segundos cada vez que manipule objetos para evitar la propagacion por contacto a otras personas u objetos de uso común.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col s8 offset-s2">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h3 style='text-align: center;'>Distanciamiento Social</h3>
          <p style="text-align: justify;">Se recomienda mantener un espacio entre usted 
            y las demás personas mientras se encuentre fuera de su casa. Manteniendo 
            una mínima distancia de aproximadamente 2 metros (alrededor del largo de 2 brazos extendidos).</p>
          <p style="text-align: justify;">Limitar el contacto frente a frente con otras personas 
            es la mejor forma de reducir la propagación de la enfermedad 
            del coronavirus.</p>
        </div>
      </div>
      <div class="card-image">
        <img src="{% static 'img/distancia.jpg' %}" height="300" />
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='card-panel col s8 offset-s2'>
      <h3 style='text-align: center;'>Medidas sanitarias tomadas por el Gobierno</h3>
  </div>
</div>

<div class='row'>
  <div class="col s4 offset-s2">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/permisos.jpeg' %}" height="300" />
      </div>
      <div class="card-content">
        <span class="card-title">Permisos Temporales</span>
        <p style='text-align: justify;'>
          El Ministerio de salud ha proporcionado un mecanismo que permite a las personas acceder a un permiso temporal 
          para poder desplazarse dentro de las comunas que se encuentran 
          en cuarentena. Para ello solo se requiere la información de la 
          cédula de identidad (RUN y número de documento) o 
          pasaporte (número del documento) y puede ser utilizado únicamente por quien lo solicita.
          Estos permisos pierden su vigencia una vez vencido el plazo estipulado en cada uno de ellos.
        </p>  
        <p style='text-align: justify;'>  
          Para solicitar un permiso temporal se debe ingresar al link de Comisaria Virtual donde se deberá ingresar el motivo del salvoconducto y los datos
          de la persona.  
        </p>
      </div>
      <div class="card-action" style='text-align: right;'>
        <a href="https://comisariavirtual.cl/" target="_blank">Ir a Comisaría Virtual</a>
      </div>
    </div>
  </div>

  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/mascarillas.jpg' %}" height="300" />
      </div>
      <div class="card-content">
        <span class="card-title">Uso obligatorio de Mascarillas</span>
        <p style='text-align: justify;'>
          El Minsal ha puesto en marcha el uso obligatorio de mascarillas para quienes transiten por cualquier 
          lugare público, con el fin de reducir significativamente la probabilidad 
          de contagio. 
          Diversos estudios confirman que el uso de una mascarilla en una conversación puede ser relevante en la probabilidad que exista de contagio.
          En efecto, si ninguna persona esta utilizando una mascarilla, la probabilidad de contagio es de 90%.
          En cambio, si solo la persona sana utiliza mascarilla esta se reduce a un 70% y si solo el portador del virus utiliza el porcentaje cae a
          un 5%. Por último se comprobó que si ambas personas usan la mascarilla la probabilidad de propagación del virus es de 1,5%.
        </p>
      </div>
      <div class="card-action" style='text-align: right;'>
        <a href="https://www.minsal.cl/comienza-uso-obligatorio-de-mascarilla-en-lugares-publicos-cerrados/" target="_blank">Más detalles de la medida acá</a>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class="col s8 offset-s2">
    <div class="card">
      <div class="card-image">
        <img src="{% static 'img/cuarentena.jpg' %}" height="500" />
      </div>
      <div class="card-content">
        <span class="card-title">Cuarentenas</span>
        <p>El MINSAL ha puesto bajo cuarentena total 63 comunas a lo largo de todo el país, con el objetivo de 
          reducir la mayor movilización de personas posible y de esa forma reducir la propabilidad de propagación del virus.
        </p>
        <br>
        <p style='text-indent: 15px; font-weight: bold;'>Región Metropolitana: 46 comunas</p>
        <table style='text-indent: 30px;'>
          <tbody>
            <tr>
              <td><li style="list-style-type: disc;">San Ramón</li>
                <li style="list-style-type: disc;">San Bernardo</li>
                <li style="list-style-type: disc;">Puente Alto</li>
                <li style="list-style-type: disc;">Quilicura</li>
                <li style="list-style-type: disc;">Recoleta</li>
                <li style="list-style-type: disc;">Independencia</li>
                <li style="list-style-type: disc;">Quinta Normal</li>
                <li style="list-style-type: disc;">Santiago Centro</li>
                <li style="list-style-type: disc;">Estación Central</li>
                <li style="list-style-type: disc;">Cerrillos</li>
                <li style="list-style-type: disc;">Pedro Aguirre Cerda</li> 
                <li style="list-style-type: disc;">Ñuñoa</li> 
              </td>
              <td><li style="list-style-type: disc;">La Pintana</li>
                <li style="list-style-type: disc;"> Padre Hurtado</li>
                <li style="list-style-type: disc;">El Bosque</li>
                <li style="list-style-type: disc;">Cerro Navia</li>
                <li style="list-style-type: disc;">Conchalí</li>
                <li style="list-style-type: disc;">Lampa</li>
                <li style="list-style-type: disc;">Colina</li>
                <li style="list-style-type: disc;">La Cisterna</li>
                <li style="list-style-type: disc;">La Florida</li>
                <li style="list-style-type: disc;">La Granja</li>
                <li style="list-style-type: disc;">Lo Espejo</li>
                <li style="list-style-type: disc;">Buin</li>
              </td>
              <td><li style="list-style-type: disc;">Lo Prado</li>
              <li style="list-style-type: disc;">Macul</li>
              <li style="list-style-type: disc;">Peñalolén</li>
              <li style="list-style-type: disc;">Renca</li>
              <li style="list-style-type: disc;">San Joaquín</li>
              <li style="list-style-type: disc;">San Miguel</li>
              <li style="list-style-type: disc;">Huechuraba</li>
              <li style="list-style-type: disc;">La Reina</li>
              <li style="list-style-type: disc;">Las Condes</li>
              <li style="list-style-type: disc;">Lo Barnechea</li>
              <li style="list-style-type: disc;">Maipú</li>
              </td>
              <td><li style="list-style-type: disc;">Providencia</li>
                <li style="list-style-type: disc;">Pudahuel</li>
                <li style="list-style-type: disc;">Vitacura</li>
                <li style="list-style-type: disc;">Peñaflor</li>
                <li style="list-style-type: disc;">Melipilla</li>
                <li style="list-style-type: disc;">Curacaví</li>
                <li style="list-style-type: disc;">Til Til</li>
                <li style="list-style-type: disc;">San José de Maipo</li>
                <li style="list-style-type: disc;">El Monte</li>
                <li style="list-style-type: disc;">Talagante</li>
                <li style="list-style-type: disc;">Calera de Tango</li>
              </td>
            </tr>
          </tbody>
        </table>

        <p style='text-indent: 15px; font-weight: bold;'>Región de Tarapacá: 3 comunas</p>
        <table style='text-indent: 30px;'>
          <tbody>
            <tr>
              <td><li style="list-style-type: disc;">Iquique</li>
                <li style="list-style-type: disc;">Alto Hospicio</li>
                <li style="list-style-type: disc;">Pozo Almonte</li>
              </td>
            </tr>
          </tbody>
        </table>
        
        <p style='text-indent: 15px; font-weight: bold;'>Región de Antofagasta: 4 comunas</p>
        <table style='text-indent: 30px;'>
          <tbody>
            <tr>
              <td><li style="list-style-type: disc;">Calama</li>
                <li style="list-style-type: disc;">Antofagasta</li>
                <li style="list-style-type: disc;">Tocopilla</li>
                <li style="list-style-type: disc;">Mejillones</li>
              </td>
            </tr>
          </tbody>
        </table>  

        <p style='text-indent: 15px; font-weight: bold;'>Región de Valparaíso: 6 comunas</p>
        <table style='text-indent: 30px;'>
          <tbody>
            <tr>
              <td><li style="list-style-type: disc;">San Antonio</li>
                <li style="list-style-type: disc;">Viña del Mar</li>
                <li style="list-style-type: disc;">Valparaíso</li>
                <li style="list-style-type: disc;">San Felipe</li>
                <li style="list-style-type: disc;">Los Andes</li>
                <li style="list-style-type: disc;">Quillota</li>
              </td>
            </tr>
          </tbody>
        </table>

        <p style='text-indent: 15px; font-weight: bold;'>Región de O'Higgins: 3 comunas</p>
        <table style='text-indent: 30px;'>
          <tbody>
            <tr>
              <td><li style="list-style-type: disc;">Rancagua</li>
                <li style="list-style-type: disc;">Machalí</li>
                <li style="list-style-type: disc;">Graneros</li>

              </td>
            </tr>
          </tbody>
        </table>     

        <p style='text-indent: 15px; font-weight: bold;'>Región de Maule: 1 comuna</p>
        <table style='text-indent: 30px;'>
          <tbody>
            <tr>
              <td><li style="list-style-type: disc;">Curicó</li>

              </td>
            </tr>
          </tbody>
        </table> 
      </div>
    </div>
  </div>
</div>

<footer class="page-footer green lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">DataCrown</h5>
        <div style='text-align: left'>
          <img src="{% static 'img/logo.jpg' %}" height="50" />
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <div style='text-align: right'>
          <h5 class="white-text ">FONO COVID-19</h5>
          <h5><i class="Small material-icons">call</i><a href="tel: 6003607777"> 600 360 77 77</a></h5>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 DataCrown
    </div>
  </div>
</footer>


{% endblock %}