{% include 'formato.html' with template_padre='regiones' %}
{% load static %}

{% block contenido %}

<div class="nav-wrapper green lighten-1 ">
  <a class="brand-logo center" >COVID-19 en Chile</a>
  <ul class="left hide-on-med-and-down">
    <li class="{% if template_padre == 'index' %}active{% else %}{% endif %}"><a href="{% url 'index' %}">Inicio</a></li>
    <li class="{% if template_padre == 'regiones' %}active{% else %}{% endif %}"><a href="{% url 'regiones' %}">Regiones</a></li>
    <li class="{% if template_padre == 'medidas' %}active{% else %}{% endif %}"><a href="{% url 'medidas' %}">Medidas</a></li>
  </ul>
</div>





<div class='row'>
    <div class='col s8 offset-s2'>
        <h1 style='text-align: center;'>Región {{nombre_region}}</h1>
    </div>
</div>
  
<div class="row">
  <div><p></p></div>
  <div class='col s2'>
    <img src="{% static 'img/virus.png' %}" height="200" />
  </div>  
  <div class='card-panel col s8'>
    <div class=" col s6">
      <span class="black-text">
        <h2 style="text-align: center;">{{acumuladocont}}</h2>
        <h5 style="text-align: center;">Total contagiados con</h5>
        <h5 style="text-align: center;">COVID-19 en la región</h5>
      </span>
    </div>
    <div class="col s6">
      <span class="black-text">
        <h2 style="text-align: center;">{{acumuladofall}}</h2>
        <h5 style="text-align: center;">Total fallecidos por </h5>
        <h5 style="text-align: center;">COVID-19 en la región</h5>
      </span>
    </div>     
  </div>
  <div class='col s2'>
    <img src="{% static 'img/virus1.png' %}" height="200" />
  </div>   
</div>

<div class="row">
  <div class='col s2'>
      <img src="{% static 'img/virus4.png' %}" height="200" />
  </div> 
  <div class="col s4">
      <div class="card-panel">
          <span class="black-text">
          <h2 style="text-align: center;">+{{nuevosconta}}</h2>
          <h5 style="text-align: center;">Contagios por COVID-19</h5>
          <h5 style="text-align: center;">en la región</h5>
          </span>
      </div>        
  </div>
  <div class="col s4">
      <div class="card-panel">
          <span class="black-text">
          <h2 style="text-align: center;">+{{nuevosfall}}</h2>
          <h5 style="text-align: center;">Fallecidos por COVID-19</h5>
          <h5 style="text-align: center;">en la región</h5>
          </span>
      </div>        
  </div>
  <div class='col s2'>
      <img src="{% static 'img/virus2.png' %}" height="200" />
  </div>       
</div> 
  
<div class="row">
  <div class='col s2'>
    <img src="{% static 'img/virus4.png' %}" height="200" />
  </div> 
    <div class="col s4">
      <div class="card-panel">
        <span class="black-text">
          <h5 style="text-align: center;">Exámenes realizados</h5>
        </span>
      </div>        
    </div>
    <div class="col s4">
      <div class="card-panel">
        <span class="black-text">
          <h2 style="text-align: center;">{{casosactivos}}</h2>
          <h5 style="text-align: center;">Casos activos con</h5>
          <h5 style="text-align: center;">COVID-19 en la región</h5>
        </span>
      </div>        
    </div>
    <div class='col s2'>
      <img src="{% static 'img/virus2.png' %}" height="200" />
    </div> 
</div>      

<footer class="page-footer green lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">DataCrown</h5>
        <p class="grey-text text-lighten-4">Logo Grupo</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <div style='text-align: right'>
          <h5 class="white-text ">FONO COVID-19</h5>
          <h5><i class="Small material-icons">call</i><a href="tel: 6003607777"> 600 360 77 77</a></h5>
        </div>
        <div style='text-align: right'>
          <img src="{% static 'img/logo.jpg' %}" height="50" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 DataCrown
    </div>
  </div>
</footer>

{% endblock %}