<!DOCTYPE html>
<html lang='es' style='height: 100%;'>
<head>
    <title>DataCrown</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" >
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
</head>
<body class="#e8f5e9 green lighten-5">
    <nav>
        <div class="nav-wrapper green lighten-1">
          <a href="#!" class="brand-logo center">DataCrown</a>
          <ul class="left hide-on-med-and-down">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li class="active"><a href="">Regiones</a></li>
            <li><a href="{% url 'medidas' %}">Medidas</a></li>
          </ul>
        </div>
    </nav>

    <div class="container">
      <div class='raw'>
          <div class='col s12'>
              <div class="row">
                <div class='center-align'>
                  <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">Metropolitana<span class="badge">1</span></a></li>
                    <li><a href="#!">two<span class="new badge">1</span></a></li>
                    <li><a href="#!">three</a></li>
                  </ul>
                  <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a>              
                </div>  
              </div>
          </div>
      </div>    
    </div>
    <footer class="page-footer green lighten-1">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Logo grupo</h5>
            <p class="grey-text text-lighten-4">DataCrown</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">FONO COVID-19</h5>
            logo uai
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright Text
        </div>
      </div>
    </footer>
</body>
</html>