{% include 'formato.html' with template_padre='regiones' %}
{% load static %}

{% block contenido %}
<div class='row'>
  <div class='col s3 offset-s9' style="height: 5px;">
    <form id='regiones' action="{% url 'regiones' %}" method="POST">
    {% csrf_token %}
          <div class="input-field col s8" style="height: 5px;">
              <select id='region' name='region'>
                <option value="" disabled selected>Seleccione una región...</option>
                <option value="de Tarapacá">Tarapacá</option>
                <option value="de Antofagasta">Antofagasta</option>
                <option value="de Atacama">Atacama</option>
                <option value="de Coquimbo">Coquimbo</option>
                <option value="de Valparaíso">Valparaíso</option>
                <option value="del Libertador General Bernardo O’Higgins">Libertador General Bernardo O’Higgins</option>
                <option value="del Maule">Maule</option>
                <option value="del Biobío">Biobío</option>
                <option value="de La Araucanía">La Araucanía</option>
                <option value="de Los Lagos">Los Lagos</option>
                <option value="de Aysén del General Carlos Ibañez del Campo"> Aysén del General Carlos Ibañez del Campo</option>
                <option value="de Magallanes y de la Antártica Chilena">Magallanes y de la Antártica Chilena</option>
                <option value="Metropolitana de Santiago">Metropolitana de Santiago</option>
                <option value="de Los Ríos">Los Ríos</option>
                <option value="de Arica y Parinacota">Arica y Parinacota</option>
                <option value="del Ñuble">Ñuble</option>
              </select>
          </div>
          <div class="input-field col s1" style="padding-top: 5px;">
            <button 
              class='waves-effect waves-light btn'
              type='submit'
              name='submit'
            >
            Enter
            </button>
          </div>
    </form>
  </div>  
</div>

<div class='row'>
  <div class='col s8 offset-s2'>
      <h1 style='text-align: center;'>Región {{nombre_region}}</h1>
  </div>
</div>  


<div class="row">
<div><p></p></div>
<div class='col s2'>
  <img src="{% static 'img/virus.png' %}" height="200" />
</div>  
<div class='card-panel col s8'>
  <div class=" col s6">
    <span class="black-text">
      <h2 style="text-align: center;">{{acumuladocont}}</h2>
      <h5 style="text-align: center;">Total de contagiados con</h5>
      <h5 style="text-align: center;">COVID-19 en la región</h5>
    </span>
  </div>
  <div class="col s6">
    <span class="black-text">
      <h2 style="text-align: center;">{{acumuladofall}}</h2>
      <h5 style="text-align: center;">Total de fallecidos por </h5>
      <h5 style="text-align: center;">COVID-19 en la región</h5>
    </span>
  </div>     
</div>
<div class='col s2'>
  <img src="{% static 'img/virus1.png' %}" height="200" />
</div>   
</div>

<div class="row">
<div class='col s2'>
    <img src="{% static 'img/virus4.png' %}" height="200" />
</div> 
<div class="col s4">
    <div class="card-panel">
        <span class="black-text">
        <h2 style="text-align: center;">+{{nuevosconta}}</h2>
        <h5 style="text-align: center;">Nuevos casos de</h5>
        <h5 style="text-align: center;">COVID-19 en la región</h5>
        </span>
    </div>        
</div>
<div class="col s4">
    <div class="card-panel">
        <span class="black-text">
        <h2 style="text-align: center;">+{{nuevosfall}}</h2>
        <h5 style="text-align: center;">Nuevos fallecidos</h5>
        <h5 style="text-align: center;">por COVID-19 en la región</h5>
        </span>
    </div>        
</div>
<div class='col s2'>
    <img src="{% static 'img/virus2.png' %}" height="200" />
</div>       
</div> 

<div class="row">
<div class='col s2'>
  <img src="{% static 'img/virus2.png' %}" height="200" />
</div> 
  <div class="col s4">
    <div class="card-panel">
      <span class="black-text">
        <h5 style="text-align: center;">Exámenes PCR realizados</h5>
      </span>
    </div>        
  </div>
  <div class="col s4">
    <div class="card-panel">
      <span class="black-text">
        <h2 style="text-align: center;">{{casosactivos}}</h2>
        <h5 style="text-align: center;">Casos activos con</h5>
        <h5 style="text-align: center;">COVID-19 en la región</h5>
      </span>
    </div>        
  </div>
  <div class='col s2'>
    <img src="{% static 'img/virus.png' %}" height="200" />
  </div> 
</div>  



<footer class="page-footer green lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">DataCrown</h5>
        <p class="grey-text text-lighten-4">Logo Grupo</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <div style='text-align: right'>
          <h5 class="white-text ">FONO COVID-19</h5>
          <h5><i class="Small material-icons">call</i><a href="tel: 6003607777"> 600 360 77 77</a></h5>
        </div>
        <div style='text-align: right'>
          <img src="{% static 'img/logo.jpg' %}" height="50" />
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 DataCrown
    </div>
  </div>
</footer>

{% endblock %}